# disallow all files without extensions
*
!*.*
!*/

# allow Makefiles
!**Makefile**
!processor/verilog

# vscode and mac specific files
.vscode/**
.DS_Store**

**build/**

!**/*.*
**/*.blif
**/*.json
**/*.asc
**/*.bin
**/*.hex
**/*.o
**/*.i
**/*.sr
**/*.map
hardwareblink/hardwareblink.
mod_processor/verilog/register_file.v
mod_processor/verilog/program_counter.v
mod_processor/verilog/pipeline_registers.v
mod_processor/verilog/mux2to1.v
mod_processor/verilog/instruction_mem.v
mod_processor/verilog/forwarding_unit.v
mod_processor/verilog/imm_gen.v
mod_processor/verilog/dataMem_mask_gen.v
mod_processor/verilog/data_mem.v
mod_processor/verilog/CSR.v
mod_processor/verilog/cpu.v
mod_processor/verilog/control_unit.v
mod_processor/verilog/branch_predictor.v
mod_processor/verilog/branch_decide.v
mod_processor/verilog/alu.v
mod_processor/verilog/alu_control.v
mod_processor/verilog/adder.v
include/sail-core-defines.v
include/rv32i-defines.v
